@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap");
* {
  margin: 0;
  overflow-x: hidden;
}

hr {
  margin: 8em 18em;
}

.wrapper {
  margin: 2em;
  display: flex;
}
.wrapper__btn {
  background-color: #FA4A0C;
  font-size: calc(var(--index) * 0.75);
  font-weight: 700;
  text-decoration: none;
  padding: 1em 50px;
  border-radius: 30px;
  color: white;
  margin: 20px;
}
.wrapper__btn--outline {
  background: none;
  border: 2px solid white;
}

:root {
  --index: calc(2vw) ;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header div {
  width: 50%;
}
header div .logo {
  width: 25%;
}
header menu {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: Montserrat;
  font-size: calc(var(--index) * 0.6);
  gap: 20px;
}
header menu a {
  text-decoration: none;
  font-weight: 600;
  color: black;
}
header menu a:hover {
  color: #FA4A0C;
}

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-family: Montserrat;
}
.hero__start--img {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  height: 700px;
  background: url(./img/main-pic.png) no-repeat center;
  background-size: cover;
  z-index: -1;
}
.hero__text {
  margin-top: 3em;
  font-size: calc(var(--index) * 0.5);
}
.hero__title {
  font-family: Poppins;
  font-size: calc(var(--index) * 1.5);
  margin: 0.5em;
  font-weight: 700;
  text-align: center;
}
.hero__description {
  font-weight: 500;
  font-size: calc(var(--index) * 0.75);
}
.hero__main--img {
  width: 100%;
  height: 640px;
  background: url(./img/main-pic-phones.png) no-repeat;
  background-position: 47%;
}

.app {
  width: 100vw;
  box-sizing: border-box;
  font-family: Montserrat;
}
.app h1 {
  font-size: calc(var(--index) * 1);
  font-weight: 600;
  font-family: Poppins;
  text-align: center;
}
.app__ar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.app__ar__img {
  width: 50%;
  display: flex;
  justify-content: center;
}
.app__ar__descr {
  width: 50%;
}
.app__ar__descr h3 {
  color: #FA4A0C;
  font-size: calc(var(--index) * 0.75);
}
.app__ar__descr h2 {
  padding: 1em 0em;
  font-size: calc(var(--index) * 1.25);
}
.app__ar__descr h4 {
  color: #737373;
  font-weight: 500;
  font-size: calc(var(--index) * 0.6);
}
.app__ar__descr--left {
  padding-left: 10em;
}

.advertisement {
  font-family: Montserrat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30em;
  color: white;
  background: url(./img/desktop\ Hero\ Light\ 8.png) no-repeat;
  background-size: cover;
}
.advertisement h2 {
  font-size: calc(var(--index) * 1.25);
  padding: 1em;
}
.advertisement h4 {
  font-size: calc(var(--index) * 0.75);
  font-weight: 500;
}
.advertisement .adv-link {
  border-radius: 20px;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: Montserrat;
  color: #5C5C5C;
  font-weight: 700;
  font-size: calc(var(--index) * 0.5);
}
footer .social {
  display: flex;
  gap: 20px;
}/*# sourceMappingURL=style.css.map */